.product-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.product-list li {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 30%;
    transition: transform 0.3s ease;
}

.product-list li:hover {
    transform: scale(1.05);
}

.product-image img {
    max-width: 100%;
}

.product-list h3 {
    margin: 10px 0;
}

.product-price {
    font-weight: bold;
    color: #007bff;
}
