 /* Estilos generales */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo del encabezado y menú */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007bff;
}

/* Estilos para las secciones */
section {
    height: 100vh; /* Cada sección ocupa el 100% del viewport height */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Añade un efecto de desplazamiento suave a los enlaces del menú */
html {
    scroll-behavior: smooth;
}



article{
    display: grid;
}

